*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: fadeInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3.2rem;
    animation: fadeInRight 1s ease-out; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 100px;
  transition: all ease 0.2s;
  font-size: 1.6rem;
  position: relative; }

.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.button--white {
  background-color: #fff;
  color: #777; }

.button--animated {
  animation: fadeInTop 0.5 ease-out 0.75s;
  animation-fill-mode: backwards; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orange;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
