.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: fadeInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3.2rem;

    animation: fadeInRight 1s ease-out;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(-2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba($color-black, 0.1);
  }
}
